

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(225, 225, 225);
}

header {
    background-color: rgb(47, 47, 47);
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls {
    background-color: rgb(66, 66, 66);
    color: rgb(231, 231, 231);
    padding: 16px 50px;
}

button {
    margin-top: 15px;
    padding: 4px 14px;
}

input {
    width: 30px;
}

.board {
    background-color: white;
    width: 350px;
    height: 350px;
    display: grid;
    margin: 30px auto;
}